{
	"tabWidth": 4,
	"bracketSameLine": true,
	"svelteBracketNewLine": false,
	"bracketSpacing": true,
	"singleAttributePerLine": true,
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "none",
	"printWidth": 3000,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
